/* ========================= */
/* Variables y utilidades */
/* ========================= */

//Colores 
$Pink: hsl(322, 100%, 66%);
$Cyan: hsl(193, 100%, 96%);
$DarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);
$White: #fff;

//Fuentes 
$Heading:'Poppins', sans-serif;

//Mixins
@mixin boton($bgColor, $colorTexto){
  background-color: $bgColor;
  padding: 1rem 4rem;
  color: $colorTexto;
  font-weight: 700;
  border-radius: 3rem;
  border: none;
  text-align: center;
  transition-property: background-color;
  transition-duration: .3s;
  &:hover{
    background-color: lighten($bgColor, 10%);
    cursor: pointer;
  }
}

//Utilidades
.sombra{
  -webkit-box-shadow: -1px -1px 8px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 8px -3px rgba(0,0,0,0.75);
box-shadow: -1px -1px 8px -3px rgba(0,0,0,0.75);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

h1{
  font-family: $Heading;
  font-size: 2.3rem;
  font-weight: 700;
  color: $DarkCyan;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 3;
  img {
    display: block;
    width: 30%;
  }
}

.botonPrincipal{
  @include boton($White,$DarkCyan);
}

.container {
  max-width: 90%;
  margin: 0 auto;
  // display: block;
  img{

  }
}

img{
  max-width: 80%;
  height: auto;
}

.header-body{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  // padding: 0 2rem;
  margin: 7rem 0;
  button{
    @include boton($Pink,$White);
  }
}

.header-image{
  width: 70%;
  margin-bottom: 3rem;
}

header{
  background-image: url("img/bg-hero-mobile.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $Cyan;
  // padding-bottom: 1rem;
}

.heder-body-title{
  width: 80%;
  padding: 1rem;
  section{
    font-size: 1.5rem;
  }
}